.idea/*
__pycache__

# habitat_baselines
Legacy/PointNavigation/habitat_baselines/*
Legacy/PointNavigation/risenet/.idea/*

# parameters
Legacy/PointNavigation/parameters/*

# gym_airsim
AutoDrone/gym-airsim/gym_airsim.egg-info/*

# logs
runs/*
